    <div class="form-group">
        <label class="control-label" for="event_title">Title</label>
        <input type="text" id="event_title" class="form-control" name="title">
    </div>
    <div class="form-group">
        <label class="control-label" for="event_description">Description</label>
        <textarea id="event_description" class="form-control" name="description"></textarea>
    </div>
    <input type="submit" class="btn btn-primary" value="Add an event">

